<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>SpringBoot CRUD</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div align="center">
            <h1>Will I Am</h1>
            <br>
            
            <form th:action="@{/save}" th:object="${rgn}" method="POST">
                <label>Region ID</label>
                <input type="text" id="textId" class="form-control" th:field="*{Id}"><br>
                <label>Region Name</label>
                <input type="text" id="textName" class="form-control" th:field="*{Name}"><br>
                <input type="submit" value="Save">
            </form>
            
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
                <tr th:each = "as : ${Region}">
                    <td th:text="${as.id}"></td>
                    <td th:text="${as.name}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>
